body {
    color: rgb(246, 246, 250);
    margin: 0;
    display: flex;
    background-color: #111111;
}

.gauche {
    padding: 20px;
    width: 15%;
    background-image: url('../image/background-mosaic.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.centre {
    padding: 20px;
    width: 65%;
    background-image: url("../image/texture-bakground.jpg");
    display: flex;
    flex-direction: column;
}

.droite {
    padding: 20px;
    width: 20%;
    background-image: url('../image/background-mosaic.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.photo_profil {
    display: flex;
    justify-content: center;
    }

.titre {
    text-align: center;
    border-style: solid;
    border-radius: 90px;
    background-color: #372C0C;
    border-color: gold;
    border-width: 10px;
}

.presentation {
    text-align: center;
    border-style: solid;
    border-radius: 45px;
    background-color: #372C0C;
    border-color: gold;
    border-width: 10px;
}

.objectifs {
    text-align: center;
    color: white;
    border-style: solid;
    border-radius: 45px;
    background-color: #372C0C;
    border-color: gold;
    border-width: 10px;

}

.colonnes {
    column-count: 4;
}

.h1 {
    text-align: center;
}

.informations {
    text-align: center;
}

.qualites {
    margin-left: 5%;
}

.competences {
    margin-left: 5px;
}

.photo_dev {
    display: flex;
    justify-content: center;
    }

.texte-centre {
    line-height: 2.5;
}

#logiciels {
    margin-left: 5%;
}

#languages_web {
    margin-left: 5%;
}

#langues {
    margin-left: 5%;
}

iframe {
    width: 100%;
    height: 100px;
}

.tigre {
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px auto;
    background-color: #f3bc09;
    padding: 10px;
    border-radius: 40px;
    flex-direction: column;
}

.grid-item {
    background-color: rgba(8, 8, 8, 0.8);
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 10px;

    font-size: 15px;
    text-align: left;
}

.contact {
    border: #f60404 solid 5px;
    margin: 0 auto;
    width: 100px;
    flex-direction: column;
}

#map {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.youtube {
    display: flex;
}

.portefolio,
a {
    background-color: orangered;
    color: white;
    border-radius: 50% 20% / 10% 40%;
    height: 50%;
}

/* Style de base pour le formulaire */
form {
    
    margin: 50% auto;
    padding: 50px;
    background-image: url('../image/background-mosaic.jpg');
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style des étiquettes */
label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

/* Style des champs de texte et du texte area */
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    
    border-radius: 10px;
}

/* Style du bouton de validation */
button {
    background-color: orangered;
    color: white;
    border-radius: 50% 20% / 10% 40%;
}

a {
    text-decoration: none;
}














